h2 {
    color: red;
}

.profile-group {
    margin: 1rem;
    background-color:   #bbbbbb;
}

.profile-group a, .profile-group p {
    margin: 1rem;
}

.white-space-pre {
    white-space: pre-wrap;
}

.lesson-group {
    margin: 1rem;
    background-color:   #bbbbbb;
}