body {
    font-family: 'Quicksand', 'Roboto', Arial, sans-serif;
}

.home-card:hover {
    transform: scale(1.1);
    background-color: #eefbff;
}

.get-started-btn:active {
    transform: translate(2px, 2px);
}

.name-header {
    font-size: 4rem;
}

.header-li {
    border: none;
    font-size: 1.5rem;
}

.home-bg-image {
    /*background-image: url(https://i.imgur.com/q3yYv2a.jpg); /* url(https://i.imgur.com/g0WkZfr.jpg); */
    /* background-image: linear-gradient(#b1cbbb, #adcfba);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    background: rgb(177,203,187);
    background: -moz-radial-gradient(circle, rgba(177,203,187,1) 0%, rgba(160,190,171,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(177,203,187,1) 0%, rgba(160,190,171,1) 100%);
    background: radial-gradient(circle, rgba(177,203,187,1) 0%, rgba(160,190,171,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b1cbbb",endColorstr="#a0beab",GradientType=1);
}

.text-roboto {
    font-family: 'Roboto', Arial, sans-serif;
}

.text-white {
    color: #FFFFFF;
}

.color-1 {
    background-color: #b1cbbb;
}

.color-2 {
    background-color: #deeaee;
}

.color-3 {
    background-color: #c94c4c;
    color: #FFFFFF;
}

.color-3dark {
    background-color: #9d2f2f;
    color: #FFFFFF;
}

.color-4 {
    background-color: #dab3ff;
}

.color-correct {
    background-color: #8cff66;
}

.color-incorrect {
    background-color: #ff4d4d;
}

.a-btn {
    text-decoration: none !important;
}
.a-btn > div:hover {
    background-color: #9d2f2f;
}

.review-exit-btn {
    background-color: #c94c4c;
    color: white !important;
}
.review-exit-btn:hover {
    background-color: #9d2f2f;
}

.review-submit-btn {
    background-color: #66ff66;
    color: black !important;
}
.review-submit-btn:hover {
    background-color: #00ff00;
}

.code {
    background-color: #ffffff;
    color: #0000ff;
}

.lesson-link-1 {
    color: black; 
    text-decoration: none;
    pointer-events: fill;
}
.lesson-link-1:hover {
    color: #666666;
    background-color: #0000ff;
    text-decoration: none;
}
.lesson-link-2 {
    color: white; 
    text-decoration: none;
    pointer-events: fill;
}
.lesson-link-2:hover {
    color: #bbbbbb;
    background-color: #0000ff;
    text-decoration: none;
}

.dropdown-danger { 
    color: #ff4d4d;
}

.nav-item > .btn {
    margin-left: 1rem;
}

/* Basically Bootstrap's disabled class, but doesn't fade colors */
.custom-a-disabled {
    cursor: default; 
    text-decoration: none; 
    pointer-events: none;
}

/* To fix navbar overlap */
body { padding-top: 80px; }
