.color-1 {
    background-color: #b1cbbb;
}

.color-2 {
    background-color: #deeaee;
}

.color-3 {
    background-color: #c94c4c;
    color: #FFFFFF;
}

.color-3dark {
    background-color: #9d2f2f;
    color: #FFFFFF;
}

.color-4 {
    background-color: #dab3ff;
}

.color-correct {
    background-color: #8cff66;
}

.color-incorrect {
    background-color: #ff4d4d;
}

.a-btn {
    text-decoration: none !important;
}
.a-btn > div:hover {
    background-color: #9d2f2f;
}

.review-exit-btn {
    background-color: #c94c4c;
    color: white !important;
}
.review-exit-btn:hover {
    background-color: #9d2f2f;
}

.review-submit-btn {
    background-color: #66ff66;
    color: black !important;
}
.review-submit-btn:hover {
    background-color: #00ff00;
}

.code {
    background-color: #ffffff;
    color: #0000ff;
}

/* Basically Bootstrap's disabled class, but doesn't fade colors */
.custom-a-disabled {
    cursor: default; 
    text-decoration: none; 
    pointer-events: none;
}

/* To fix navbar overlap */
body { padding-top: 80px; }
