{% extends "base.html" %}
{% load static %}

{% block title %}Studious - Home{% endblock %}

{% block head %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <style>
        body{padding-top: 0px;}
        .home-jumbo {
            background-image: url({% static "images/header.jpg" %});
            background-size: cover;
        }
    </style>
{% endblock %}

<!-- Kill the inherited navbar -->
{% block navbar %}{% endblock %}

{% block content-container-overwrite %}

<div class="jumbotron home-jumbo jumbotron-fluid pl-4 text-center">
    <h1 class="text-white text-roboto name-header"><strong>Studious</strong></h1>
    <div class="d-flex justify-content-center mb-4">
        <ul class="list-group list-group-horizontal d-flex justify-content-center mb-4">
            {% if user.is_authenticated %}
            <li class="list-group-item mx-4 bg-transparent rounded header-li">
                <a class="text-white" href="{% url 'profile' %}">Profile</a>
            </li>
            {% endif %}
            {% if not user.is_authenticated %}
            <li class="list-group-item mx-4 bg-transparent rounded header-li">
                <a class="text-white" href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}
            <li class="list-group-item mx-4 bg-transparent rounded header-li">
                <a class="text-white" href="{% url 'signup' %}">Register</a>
            </li>
            {% if user.is_authenticated %}
            <li class="list-group-item mx-4 bg-transparent rounded header-li">
                <a class="text-white" href="{% url 'logout' %}">Log out</a>
            </li>
            {% endif %}
        </ul>
    </div>
    <p class="mt-5 mb-0 text-white display-4">Achieve your learning goals</p>
</div>

<div class="container home-container">

    <div class="row">

        <div class="col-sm-6 d-flex mb-4">
            <div class="card home-card shadow flex-fill text-center color-2" style="width: 18rem;">
                <div class="card-body">
                    <i class="fa fa-pencil-square-o fa-2x my-2"></i>
                    <h2 class="card-title">Create</h2>
                    <p class="card-text">Design your own lessons for what you want to learn</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 d-flex mb-4">
            <div class="card home-card shadow flex-fill text-center color-2" style="width: 18rem;">
                <div class="card-body">
                    <i class="fa fa-comment fa-2x my-2"></i>
                    <h2 class="card-title">Share</h2>
                    <p class="card-text">Publish your lessons or share them with friends</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 d-flex mb-4">
            <div class="card home-card shadow flex-fill text-center color-2" style="width: 18rem;">
                <div class="card-body">
                    <i class="fa fa-search fa-2x my-2"></i>
                    <h2 class="card-title">Explore</h2>
                    <p class="card-text">Learn from public lessons created by the community</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 d-flex mb-4">
            <div class="card home-card shadow flex-fill text-center color-2" style="width: 18rem;">
                <div class="card-body">
                    <i class="fa fa-book fa-2x my-2"></i>
                    <h2 class="card-title">Master</h2>
                    <p class="card-text">Use our spaced repetition system to review efficiently</p>
                </div>
            </div>
        </div>
        
    </div>

    <a href="{% url 'signup' %}" class="a-btn">
        <div class="jumbotron jumbotron-fluid my-5 p-2 color-3 text-center shadow border rounded get-started-btn">
            <h2 class="display-4">Get started!</h2>
        </div>
    </a>
</div>
{% endblock %}

{% block endbody %}
<script>
    $('body').addClass('home-bg-image');
</script>
{% endblock %}