{% extends "base.html" %}
{% load static %}

{% block title %}Studious - Home{% endblock %}

{% block head %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid pl-4 color-2 shadow-sm text-center">
    <h1 class="display-2">Studious</h1>
    <p class="lead">The best tool to organize and optimize your learning.</p>
</div>

<div class="row">
    <div class="col-sm d-flex">
        <div class="card shadow flex-fill text-center color-2" style="width: 18rem;">
            <div class="card-body">
                <i class="fa fa-pencil-square-o fa-2x my-2"></i>
                <h2 class="card-title">Learn</h2>
                <p class="card-text">Design your own lessons for whatever you want to learn</p>
            </div>
        </div>
    </div>
    <div class="col-sm d-flex">
        <div class="card shadow flex-fill text-center color-2" style="width: 18rem;">
            <div class="card-body">
                <i class="fa fa-book fa-2x my-2"></i>
                <h2 class="card-title">Review</h2>
                <p class="card-text">Use our spaced repetition system to review efficiently</p>
            </div>
        </div>
    </div>
    <div class="col-sm d-flex">
        <div class="card shadow flex-fill text-center color-2" style="width: 18rem;">
            <div class="card-body">
                <i class="fa fa-comment fa-2x my-2"></i>
                <h2 class="card-title">Share</h2>
                <p class="card-text">Publish your lessons, or share them with friends</p>
            </div>
        </div>
    </div>
</div>

<a href="{% url 'signup' %}" class="a-btn">
    <div class="jumbotron jumbotron-fluid my-4 p-2 color-3 text-center shadow border rounded">
        <h2 class="display-4">Get started</h2>
    </div>
</a>
{% endblock %}