{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Studious - Login{% endblock %}

{% block content %}
<div class="m-4 p-4 shadow rounded-sm color-2">
    <h1 class="display-4">Login</h1>
    <form method="POST">{% csrf_token %}
        {{ form|crispy }}
        <button type="submit" id="login-submit-button" class="btn btn-primary">Login</button>
    </form>
</div>

<div class="m-4 p-4 shadow-sm rounded-sm color-2">
    <h1 class="display-4">New user?</h1>
    <a class="btn btn-primary" href="{% url 'signup' %}" role="button">Sign up</a>
</div>
{% endblock %}