{% extends "base.html" %}
{% load static %}

{% block title %}Studious - Home{% endblock %}

{% block content %}
<div class="m-4 p-4 shadow-sm rounded-sm color-2">
    <h1 class="display-4">Welcome {{ user.username }}!</h2>
</div>

<div class="m-4 p-4 shadow-sm rounded-sm color-2">
    <h1 class="display-6 mb-4">Reviews</h1>
    <div class="btn-group btn-group-lg" role="group">
        <a class="btn btn-outline-dark custom-a-disabled" role="button">{{ numReviews }}</a>
        {% if numReviews > 0 %}
            <a class="btn btn-primary" href="{% url 'review' %}" role="button">Review now</a>
        {% elif hasReviews %}
            <a 
                class="btn btn-primary disabled" 
                href="{% url 'review' %}" 
                role="button"
                >Time to next review: {{ nextReviewTime|timeuntil }}</a>
        {% else %}
            <a 
                class="btn btn-primary disabled" 
                href="{% url 'review' %}" 
                role="button"
                >No reviews available</a>
        {% endif %}
    </div>
</div>

<div class="m-4 p-4 shadow-sm rounded-sm color-2">
    <h1 class="display-6">Lessons</h1>
    <a class="btn btn-primary btn-lg my-3" href="{% url 'new' %}" role="button">New lesson</a>

    {% if not lessons %}
        <p>No lessons yet!</p>
    {% else %}
        {% for lesson in lessons %}
            {% if lesson.review_started %}
            <div class="my-2 py-3 shadow-sm rounded-sm border color-4 row align-items-center">
                <!-- Actions dropdown to the left -->
                <div class="col-3">
                    <div class="dropdown">
                        <button 
                            class="btn btn-primary border dropdown-toggle"
                            type="button" 
                            id="action-dropdown-{{ forloop.counter0 }}" 
                            data-toggle="dropdown" 
                            aria-haspopup="true"
                            aria-expanded="false"
                            >Actions</button>
                        <div class="dropdown-menu" aria-labelledby="action-dropdown-{{ forloop.counter0 }}">
                            <a class="dropdown-item" href="{% url 'view' lesson_id=lesson.id %}">View</a>
                            <a class="dropdown-item" href="{% url 'edit' lesson_id=lesson.id %}">Edit</a>
                            {% if not lesson.is_public %} 
                            <a class="dropdown-item" href="{% url 'publish' lesson_id=lesson.id %}">Publish</a>
                            {% endif %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item dropdown-danger" href="#">Delete</a>
                        </div>
                    </div>
                </div>
                <!-- Title link to the right -->
                <div class="col-9">
                    <a class="lesson-link-1" href="{% url 'view' lesson_id=lesson.id %}">
                    <h4 class="my-auto">{{ lesson.title }}</h4>
                    </a>
                </div>
            </div>
            {% else %}
            <div class="my-2 py-3 shadow-sm rounded-sm border color-3 row align-items-center">
                <!-- Actions dropdown to the left -->
                <div class="col-3">
                    <div class="dropdown">
                        <button 
                            class="btn btn-primary border dropdown-toggle"
                            type="button" 
                            id="action-dropdown-{{ forloop.counter0 }}" 
                            data-toggle="dropdown" 
                            aria-haspopup="true"
                            aria-expanded="false"
                            >Actions</button>
                        <div class="dropdown-menu" aria-labelledby="action-dropdown-{{ forloop.counter0 }}">
                            <a class="dropdown-item" href="{% url 'view' lesson_id=lesson.id %}">View</a>
                            <a class="dropdown-item" href="{% url 'edit' lesson_id=lesson.id %}">Edit</a>
                            {% if not lesson.is_public %} 
                            <a class="dropdown-item" href="{% url 'publish' lesson_id=lesson.id %}">Publish</a>
                            {% endif %}
                            <a class="dropdown-item" href="{% url 'add_review' lesson_id=lesson.id %}">Add to reviews</a>
                            <div class="dropdown-divider"></div>
                            <button 
                                type="button"
                                data-toggle="modal" data-target="#delete-modal"
                                class="dropdown-item dropdown-danger"
                                >Delete</button>
                        </div>
                    </div>
                </div>
                <!-- Title link to the right -->
                <div class="col-9">
                    <a class="lesson-link-2" href="{% url 'view' lesson_id=lesson.id %}">
                    <h4 class="my-auto">{{ lesson.title }}</h4>
                    </a>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>

<div class="m-4 p-4 shadow-sm rounded-sm color-2">
    <h1 class="display-6 mb-4">Account</h1>
    <a class="btn btn-primary" href="{% url 'logout' %}" role="button">Logout</a>
    <a class="btn btn-primary" href="{% url 'password_change' %}" role="button">Change password</a>
</div>
  
<!-- Delete modal -->
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="delete-modal-label">WARNING</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>
                You will lose all of this lesson's data, and all of your progress on this lessons's reviews.
                If you're <em>absolutely sure</em> you want to delete this lesson, type "DELETE" in the field below:
            </p>
            <form method="POST" class="form-inline">
                {% csrf_token %}
                <input type="text" class="form-control mb-2 mr-sm-2" id="delete-confirm-input" name="delete-confirm-input">
                <button disabled type="submit" class="btn btn-danger mb-2 disabled" id="delete-final-button">Delete</button>
            </form>
        </div>
        <div class="modal-footer">
            <a class="btn btn-secondary" href="#" role="button" data-dismiss="modal">Cancel</a>
        </div>
        </div>
    </div>
</div>
{% endblock %}

{% block endbody %}
<script src="{% static 'lib/profile.js' %}"></script>
{% endblock %}