{% extends "base.html" %}
{% load static %}

{% block title %}Studious - Home{% endblock %}

{% block content %}
<div class="m-4 p-4 shadow-sm rounded-sm color-2">
    <h1 class="display-4">Welcome {{ user.username }}!</h2>
</div>

<div class="m-4 p-4 shadow-sm rounded-sm color-2">
    <h1 class="display-6">Lessons</h1>
    <a class="btn btn-primary btn-lg my-3" href="{% url 'new' %}" role="button">New lesson</a>

    {% if not lessons %}
        <p>No lessons yet!</p>
    {% else %}
        {% for lesson in lessons %}
        <div class="my-2 p-3 shadow-sm rounded-sm border color-3">
            <a 
                class="btn btn-primary border" 
                href="{% url 'view' lesson_id=lesson.id %}" 
                role="button"
            >View</a>
            <a 
                class="btn btn-primary border ml-2" 
                href="{% url 'edit' lesson_id=lesson.id %}" 
                role="button"
            >Edit</a>                    
            <span class="ml-2 align-middle">{{ lesson.title }}</span>
        </div>
        {% endfor %}
    {% endif %}
</div>

<div class="m-4 p-4 shadow-sm rounded-sm color-2">
    <h1 class="display-6 mb-4">Account</h1>
    <a class="btn btn-primary" href="{% url 'logout' %}" role="button">Logout</a>
    <a class="btn btn-primary" href="{% url 'password_change' %}" role="button">Change password</a>
</div>
{% endblock %}