{% extends "base.html" %}
{% load static %}

{% block title %}Studious - Home{% endblock %}

{% block content %}
<div class="m-4 p-4 shadow-sm rounded-sm color-2">
    <h1 class="display-4">Welcome {{ user.username }}!</h2>
</div>

<div class="m-4 p-4 shadow-sm rounded-sm color-2">
    <h1 class="display-6 mb-4">Reviews</h1>
    <div class="btn-group btn-group-lg" role="group">
        <a class="btn btn-outline-dark custom-a-disabled" role="button">{{ numReviews }}</a>
        {% if numReviews > 0 %}
            <a class="btn btn-primary" href="{% url 'review' %}" role="button">Review now</a>
        {% elif hasReviews %}
            <a 
                class="btn btn-primary disabled" 
                href="{% url 'review' %}" 
                role="button"
                >Time to next review: {{ nextReviewTime|timeuntil }}</a>
        {% else %}
            <a 
                class="btn btn-primary disabled" 
                href="{% url 'review' %}" 
                role="button"
                >No reviews available</a>
        {% endif %}
    </div>
</div>

<div class="m-4 p-4 shadow-sm rounded-sm color-2">
    <h1 class="display-6">Lessons</h1>
    <a class="btn btn-primary btn-lg my-3" href="{% url 'new' %}" role="button">New lesson</a>

    {% if not lessons %}
        <p>No lessons yet!</p>
    {% else %}
        {% for lesson in lessons %}
            {% if lesson.review_started %}
            <div class="my-2 p-3 shadow-sm rounded-sm border color-4">
                <a 
                    class="btn btn-primary border" 
                    href="{% url 'view' lesson_id=lesson.id %}" 
                    role="button"
                >View</a>
                <a 
                    class="btn btn-primary border ml-2" 
                    href="{% url 'edit' lesson_id=lesson.id %}" 
                    role="button"
                >Edit</a>                    
                <span class="ml-2 align-middle">{{ lesson.title }}</span>
            </div>
            {% else %}
            <div class="my-2 p-3 shadow-sm rounded-sm border color-3">
                <a 
                    class="btn btn-primary border" 
                    href="{% url 'view' lesson_id=lesson.id %}" 
                    role="button"
                >View</a>
                <a 
                    class="btn btn-primary border ml-2" 
                    href="{% url 'edit' lesson_id=lesson.id %}" 
                    role="button"
                >Edit</a>                    
                <span class="ml-2 align-middle">{{ lesson.title }}</span>
                <a 
                    class="btn btn-primary border ml-2 float-right" 
                    href="{% url 'add_review' lesson_id=lesson.id %}" 
                    role="button"
                >Add to reviews</a>
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>

<div class="m-4 p-4 shadow-sm rounded-sm color-2">
    <h1 class="display-6 mb-4">Account</h1>
    <a class="btn btn-primary" href="{% url 'logout' %}" role="button">Logout</a>
    <a class="btn btn-primary" href="{% url 'password_change' %}" role="button">Change password</a>
</div>
{% endblock %}