{% extends "base.html" %}
{% load static %}

{% block title %}Studious - New lesson{% endblock %}

{% block head %}
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js"
    crossorigin="anonymous">
</script>
{% endblock %}

{% block content %}
<h1 class="display-4">New Lesson</h1>

<div class="row">
    <!-- New Lesson form with textarea to write Markdown -->
    <div class="col-sm-6">
        <form method="POST" action="{% url 'new' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="titleFormInput">Title</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="titleFormInput" 
                    name="titleFormInput" 
                    maxlength="500"
                    >
            </div>
            <div class="form-group">
                <label for="fullLessonFormTextarea">Lesson</label>
                <textarea 
                    class="form-control" 
                    id="fullLessonFormTextarea" 
                    rows="8" 
                    name="fullLessonFormTextarea"
                    ></textarea>
            </div>
            <div class="form-group">
                <label for="examplesFormTextarea">Examples</label>
                <textarea 
                    class="form-control" 
                    id="examplesFormTextarea" 
                    rows="4" 
                    name="examplesFormTextarea"
                    ></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>

    <!-- Container to place HTML parsed from Markdown -->
    <div class="col-sm-6">
        <div id="preview-target" class="container-fluid color-2">
        </div>
    </div>
</div>
{% endblock %}

{% block endbody %}
<script src="{% static 'lib/edit_lesson.js' %}"></script>
{% endblock %}