{% extends "base.html" %}
{% load static %}

{% block title %}Studious - View lesson{% endblock %}

{% block head %}
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/10.0.0/markdown-it.min.js"
    crossorigin="anonymous">
</script>
<script 
    src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it-emoji/1.4.0/markdown-it-emoji.min.js" 
    integrity="sha256-sCkD25+gPZ/B1/sRgCfgc/CRu11VuHttkcciyDZRJgs=" 
    crossorigin="anonymous">
</script>
{% endblock %}

{% block content %}

<!-- Hidden divs to hold raw lesson content -->
<textarea id="lesson-body-source" class="invisible d-none">{{ lesson.lesson }}</textarea>

<!-- Processed lesson content -->
<h1 class="display-3">{{ lesson.title }}</h1>
<p class="lead"><strong>Tags: </strong>{% if lesson.tags %}{{ hash_tags }}{% else %}None{% endif %}</p>
{% if not original_lesson_id == 'None' %}
<p class="lead">
    <a 
        href="{% url 'view' lesson_id=original_lesson_id %}"
        class="btn btn-outline-dark"
    >View original lesson (Author: {{ original_owner }})</a>
</p>
{% endif %}

<div id="lesson-body" class="lesson-group my-4 container color-2"></div>
<h4 class="display-4">Review questions</h4>
<div class="lesson-group container my-2 color-2">
{% for ex in lesson.examples %}
    <div class="row">
        <div class="col-sm-4">
            <p class="lead"><strong>Q: </strong>{{ ex.question }}</p>
        </div>
        <div class="col-sm-4">
            <p class="lead"><strong>A: </strong>{{ ex.answer }}</p>
        </div>
    </div>
{% endfor %}
</div>

<!-- Buttons -->
<div class="lesson-group my-4 container-fluid">
    <div class="row">
        {% if is_owned %}
        <a 
            class="btn btn-primary" 
            href="{% url 'edit' lesson_id=lesson_id %}" 
            role="button"
        >Edit this lesson</a>
        {% else %}
        <a 
            class="btn btn-primary" 
            href="{% url 'copy' lesson_id=lesson_id %}" 
            role="button"
        >Make a copy</a>
        {% endif %}
        <a 
            class="btn btn-primary" 
            href="{% url 'profile' %}" 
            role="button"
            style="margin-left: 1rem;"
        >Back to my profile</a>
    </div>
</div>
{% endblock %}

{% block endbody %}
<script src="{% static 'lib/markdown_convert.js' %}"></script>
<script src="{% static 'lib/view.js' %}"></script>
{% endblock %}