{% extends "base.html" %}
{% load static %}

{% block title %}Studious - Home{% endblock %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">View lesson</h1>
    </div>
</div>

<div class="lesson-group container-fluid">
    <div class="row">
        <h2>{{ lesson.title }}</h2>
    </div>
</div>

<div class="lesson-group container-fluid">
    <div class="row white-space-pre">
        <p>{{ lesson.lesson }}</p>
    </div>
</div>

<div class="lesson-group container-fluid">
    <div class="row">
        <h4>Examples</h4>
    </div>
    <div class="row white-space-pre">
        <p>{{ lesson.examples }}</p>
    </div>
</div>

<div class="lesson-group container-fluid">
    <div class="row">
        <a 
            class="btn btn-primary" 
            href="{% url 'edit' lesson_id=lesson_id %}" 
            role="button"
        >Edit this lesson</a>
        <a 
            class="btn btn-primary" 
            href="{% url 'profile' %}" 
            role="button"
            style="margin-left: 1rem;"
        >Back to my profile</a>
    </div>
</div>
{% endblock %}