{% load static %}

<html lang="en-us">

<head>
    <meta charset="utf-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <script src="https://unpkg.com/wanakana"></script>
</head>

<body>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">View lesson</h1>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <h2>Lesson: {{ lesson.title }}</h2>
        </div>

        <div class="row">
            <p>{{ lesson.lesson }}</p>
        </div>

        <div class="row">
            <h4>Examples</h4>
            <p>{{ lesson.examples }}</p>
        </div>

    </div>

</body>

</html>