{% extends "base.html" %}
{% load static %}

{% block title %}Studious - Review{% endblock %}

{% block head %}
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/10.0.0/markdown-it.min.js"
    crossorigin="anonymous">
</script>
<script 
    src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it-emoji/1.4.0/markdown-it-emoji.min.js" 
    integrity="sha256-sCkD25+gPZ/B1/sRgCfgc/CRu11VuHttkcciyDZRJgs=" 
    crossorigin="anonymous">
</script>
{% endblock %}

<!-- Custom navbar for the review page -->
{% block navbar %}
<nav class="navbar fixed-top navbar-expand navbar-light color-2">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link btn btn-lg review-exit-btn shadow-sm" href="{% url 'profile' %}">Exit</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
<div id="main-div" class="m-4 p-4 shadow-sm rounded-sm color-2 text-center">
    <h4 class="display-4" id="question-text">Loading reviews...</h4>
    <p id="correct-answer" class="ghost lead"></p>
    <form id="answer-form" class="form-inline justify-content-center mt-5">
        <input type="text" class="form-control mb-2 mr-sm-2" id="answer-input" name="answer-input" placeholder="Your answer">
        <button type="button" id='submit-answer-btn' class="btn review-submit-btn shadow-sm mb-2">Go</button>
    </form>
</div>

<div class="m-4 p-4 shadow-sm rounded-sm color-2 text-center">
    <button type="button" id="lesson-btn" class="btn btn-secondary btn-block disabled">Lesson details</button>
</div>

<div id="lesson-div" class="m-4 p-4 shadow-sm rounded-sm color-2 d-none">
</div>
{% endblock %}

{% block endbody %}
<script>
    AVAILABLE_REVIEWS_URL = '{% url 'available' %}';
    SAVE_REVIEWS_URL = '{% url 'save_progress' %}';
    PROFILE_URL = '{% url 'profile' %}';
    LESSON_DETAILS_URL = '{% url 'lesson_details' %}';
    CSRF_TOKEN = '{{ csrf_token }}';
</script>
<script src="{% static 'lib/markdown_convert.js' %}"></script>
<script src="{% static 'lib/review.js' %}"></script>
{% endblock %}